{%if comments is not empty %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Comment</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% set foo = 1 %}
                        {% for post in comments %}
                        <tr>
                            <td><h5><strong>{{ foo }}</strong></h5></td>
                            <td><h5>{{ post.comment }}</h5></td>
                            <td class="text-right">
                                <a href="{{ path('delete_post', {'id': post.id}) }}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        {% set foo = foo + 1 %}
                        {% endfor %}
                        
                </table>
            {% else %}
                <p>You have no comments published. Start adding new.</p>
            {% endif %}